<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.csx.mytestdemo">
    <!--震动权限-->
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission android:name="android.permission.INTERNET" />

    <!--录音权限-->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!--读写权限-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--RxJava测试-->
        <activity
            android:name=".rxjava_test.RxJavaActivity"
            android:screenOrientation="portrait" />

        <!--mvp demo-->
        <activity
            android:name=".mvp.MvpActivity"
            android:screenOrientation="portrait" />

        <!--万能dialog-->
        <activity
            android:name=".common_dialog.CommonDialogActivity"
            android:screenOrientation="portrait" />

        <!--视频播放-->
        <activity
            android:name=".video_player.VideoPlayerActivity"
            android:screenOrientation="portrait" />

        <!--可以拖动/滑动RecyclerView-->
        <activity
            android:name=".drag_recyclerview.DragActivity"
            android:screenOrientation="portrait" />

        <!--录音demo-->
        <activity
            android:name=".audio_record.AudioActivity"
            android:screenOrientation="portrait" />

        <!--底部导航栏-->
        <activity
            android:name=".bottom_bar.BottomBarActivity"
            android:screenOrientation="portrait" />


        <!--广播接收器,静态注册(8.0+ 不支持静态)-->
        <!--<receiver android:name=".broadcast_test.StandardReceiver">-->
            <!--<intent-filter>-->

                <!--&lt;!&ndash;添加标识：STANDRAD_BROADCASR 发送的广播，包含此标识，才会被接收&ndash;&gt;-->
                <!--<action android:name="com.csx.mytestdemo" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->

        <activity
            android:name=".broadcast_test.BroadCastActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>