<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.csx.mytestdemo">

    <!--android:sharedUserId="android.uid.system"-->

    <!--震动权限-->
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission android:name="android.permission.INTERNET" />

    <!--录音权限-->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!--读写权限-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- shareSdk添加必要的权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <!--关机权限-->
    <!--<uses-permission android:name="android.permission.SHUTDOWN" />-->
    <!--用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!--用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--用于申请调用A-GPS模块-->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!--用于申请获取蓝牙信息进行室内定位-->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />


    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:name">
        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--高德定位-->
        <!--name 必须为这个。key为自己申请-->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="bd6a8539b37fc75b383e66e43f390144" />
        <service android:name="com.amap.api.location.APSService" />

        <!--屏幕适配-->
        <meta-data
            android:name="design_width_in_dp"
            android:value="360" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="640" />

        <!--主页-->
        <activity android:name=".MainActivity" />

        <!--RxJava测试-->
        <activity
            android:name=".rxjava_test.RxJavaActivity"
            android:screenOrientation="portrait" />

        <!--mvp demo-->
        <activity
            android:name=".mvp.MvpActivity"
            android:screenOrientation="portrait" />

        <!--万能dialog-->
        <activity
            android:name=".common_dialog.CommonDialogActivity"
            android:screenOrientation="portrait" />

        <!--视频播放-->
        <activity
            android:name=".video_player.VideoPlayerActivity"
            android:screenOrientation="portrait" />

        <!--可以拖动/滑动RecyclerView-->
        <activity
            android:name=".drag_recyclerview.DragActivity"
            android:screenOrientation="portrait" />

        <!--录音demo-->
        <activity
            android:name=".audio_record.AudioActivity"
            android:screenOrientation="portrait" />

        <!--底部导航栏-->
        <activity
            android:name=".bottom_bar.BottomBarActivity"
            android:screenOrientation="portrait" />


        <!--广播接收器,静态注册(8.0+ 不支持静态)-->
        <!--<receiver android:name=".broadcast_test.StandardReceiver">-->
        <!--<intent-filter>-->

        <!--&lt;!&ndash;添加标识：STANDRAD_BROADCASR 发送的广播，包含此标识，才会被接收&ndash;&gt;-->
        <!--<action android:name="com.csx.mytestdemo" />-->
        <!--</intent-filter>-->
        <!--</receiver>-->

        <activity
            android:name=".broadcast_test.BroadCastActivity"
            android:screenOrientation="portrait" />


        <!--View 手势，速度检测-->
        <activity
            android:name=".view_gesture_velocity.GestureVelocityActivity"
            android:screenOrientation="portrait" />

        <!--View 九宫格解锁-->
        <activity
            android:name=".view_touch_nine.NineDotActivity"
            android:screenOrientation="portrait" />

        <!--滑动冲突-->
        <activity android:name=".view_touch_scroll.TouchScrollActivity" />


        <!--mob 分享-->
        <activity android:name=".share_mob.ShareActivity" />

        <!-- ShareSDK的activity -->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <!-- ShareSDK3.1.0版本之前才需要在MobUIShell下面注册此意图，3.1.0版本之后（包含3.1.0）不需要注册此intent-->
            <!--<intent-filter>-->
            <!--<data android:scheme="tencent100371282" />-->
            <!--<action android:name="android.intent.action.VIEW" />-->
            <!--<category android:name="android.intent.category.BROWSABLE" />-->
            <!--<category android:name="android.intent.category.DEFAULT" />-->
            <!--</intent-filter>-->

            <!-- 调用新浪原生SDK，需要注册的回调activity -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!--集成line客户端登录授权，需要添如下格式的过滤器-->
            <!--<intent-filter>-->
            <!--<data android:scheme="line.1477692153" />-->
            <!--<action android:name="android.intent.action.VIEW"/>-->
            <!--<category android:name="android.intent.category.BROWSABLE" />-->
            <!--<category android:name="android.intent.category.DEFAULT" />-->
            <!--</intent-filter>-->

        </activity>

        <!--3.1.0版本之后（包含3.1.0）才需要注册此Activity）如果集成QQ分享，或者使用QQ客户端来进行QQ空间的分享，
            须要在此处添加一个回调activity，对ACTION_VIEW事件的过滤器，其中的scheme是“tencent”前缀再开发者应用的加上appId。
            如果此Activity和过滤器不设置，则分享结束以后不能得到正确的回调。-->
        <activity
            android:name="cn.sharesdk.tencent.qq.ReceiveActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent100371282" />
            </intent-filter>
        </activity>

        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />


        <!--Scroller 仿ViewPager滑动-->
        <activity android:name=".scroller_view.ScrollerActivity" />

        <!--仿 酷狗，侧滑菜单-->
        <activity android:name=".view_slide_menu.SlideMenuActivity" />

        <!--webservice ksoap 使用-->
        <activity android:name=".ksoap_webservice.KsoapActivity" />

        <!--Gson-->
        <activity android:name=".gson_test.GsonActivity" />

        <!--butterKnife-->
        <activity android:name=".butterknife_test.ButterKnifeActivity" />

        <!--流式标签-->
        <activity android:name=".flow_view.FlowActivity" />

        <!--沉浸式状态栏-->
        <activity android:name=".immerse_state_bar.StatusBarActivity" />

        <!--线程AsyncTask-->
        <activity android:name=".thread_test.ThreadActivity" />

        <!--键盘-->
        <activity
            android:name=".keyboard_test.KeyBoardActivity"
            android:windowSoftInputMode="adjustPan" />

        <!--wifi -->
        <activity android:name=".wifi_demo.WifiActivity" />
        <!-- 监听网络状态的广播接收者 -->
        <receiver android:name="com.csx.mytestdemo.wifi_demo.wifi_widget.WiFiManager$NetworkBroadcastReceiver">
            <intent-filter>
                <!-- AP扫描完成，客户端得到可用的结果集 -->
                <action android:name="android.net.wifi.SCAN_RESULTS" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
                <action android:name="android.net.wifi.STATE_CHANGE" />
                <action android:name="android.net.wifi.supplicant.STATE_CHANGE" />
                <action android:name="android.net.wifi.supplicant.CONNECTION_CHANGE" />
            </intent-filter>
        </receiver>

        <!--悬浮窗 按钮-->
        <activity android:name=".float_menu.FloatMenuActivity" />

        <!--service使用-->
        <activity android:name=".service_test.ServiceActivity" />

        <service android:name=".service_test.MyService" />
        <service android:name=".service_test.SocketService" />

        <!--连线view-->
        <activity android:name=".line_connect_view.ContactActivity" />

        <!--Loading  View-->
        <activity android:name=".loading_view.LoadingActivity" />

        <!--多状态-->
        <activity android:name=".multiple_state.MultipleActivity" />

        <!--webview + progressbar 封装-->
        <activity android:name=".webview_progressbar.WebViewActivity" />

        <!--进度条View-->
        <activity android:name=".progress_view.ProgressActivity" />

        <!--可拖动，缩放的EditText-->
        <activity android:name=".drag_edittext.DragEditTextActivity" />

        <!--颜色选择器-->
        <activity android:name=".color_picker.ColorPickerActivity" />

        <!--图片查看器  -->
        <activity android:name=".photoview.PhotoViewActivity" />

        <!--Glide 4-->
        <activity android:name=".glide4.Glide4Activity" />
        <!--<meta-data-->
        <!--android:name="com.csx.mytestdemo.glide4.MyGlideModel"-->
        <!--android:value="GlideModule" />-->


        <!--diffUtil 工具类Activity-->
        <activity android:name=".diffutil_rv.DiffUtilsActivity" />

        <!--顶部悬浮的 Rv-->
        <activity android:name=".sticky_recyclerview.StickyRvActivity" />

        <!--lazy fg -->
        <activity android:name=".lazy_fg.LazyFgActivity" />

        <!--smart refresh layout-->
        <activity android:name=".smart_refresh.SmartRefreshActivity" />

        <!--仿ios 底部弹框-->
        <activity android:name=".bottom_dialog.BottomDialogActivity" />
        <activity android:name=".banner_.BannerActivity" />

        <activity android:name=".transform_anim.TransformActivity" />

        <!--head 加 vp  fg-->
        <activity android:name=".head_vp_fg.ViewPagerActivity" />

        <activity android:name=".coordinate_layout.CoordinateActivity" />
        <activity android:name=".coordinate_layout.FabActivity" />
        <activity android:name=".coordinate_layout.SimpleBehaviorActivity" />

        <!--图片选择-->
        <activity android:name=".image_select.image.MultiImageSelectorFragment" />
        <activity android:name=".image_select.CustomImageSelectActivity" />

        <activity android:name=".auto_size.AutoSizeActivity" />

        <activity android:name=".expend_textview.ExpendTvActivity" />
        <activity android:name=".switch_view.SwitchViewActivity" />

        <activity android:name=".my_butterknife.MyButterKnifeActivity" />

        <activity android:name=".skin.SkinActivity" />

        <activity android:name=".rv_touch_helper.MyTouchHelperActivity" />


        <activity android:name=".search_demo.SearchActivity" />

        <activity android:name=".zxing_demo.ZxingDemoActivity" />

        <activity android:name=".databing_demo.DataBindingActivity" />

        <activity android:name=".net_change.NetChangeActivity" />

        <activity android:name=".disklrucache_test.DiskLruCacheActivity" />
        <activity android:name=".button_with_loading.ButtonWithLoadActivity" />

        <activity android:name=".notification_test.NotificationActivity"
            android:launchMode="singleTop"/>

        <!--网络广播-->
        <receiver android:name=".net_change.net_change.NetStateReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>



    </application>

</manifest>